*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

/*----------------------------
    Heading part start here
-----------------------------*/

header{
    width: 100%;
    height: 80px;
    background-color: rgba(224, 223, 219, 0.4);
    border: 2px solid rgba(131, 112, 6, 0.2);
}

header .title{
    display: flex;
    align-items: center;
    gap: 10px;
}

header .title img{
    height: 70px;
    width: 70px;
    margin-left: 100px;
    padding: 10px;
    border-radius: 50%;
    object-fit: contain;
}

header .title h1{
    margin: 0;
    font-size: 25px;
    font-weight: bold;
}


header .navbar{
    position: absolute;
    top: 15px;
    right: 80px;
}

header .navbar ul{
    list-style: none;
}

header .navbar ul li{
    float: left;
    padding: 15px;
}

header .navbar ul li a{
    text-decoration: none;
    color: rgba(3, 0, 12, 1);
    font-size: 15px;
    font-weight: bold;
    text-transform: uppercase;
}

header .navbar ul li a:hover{
    color: rgba(3, 0, 12, 0.2);
    transition: all 0.3s;
}


/*----------------------------
    Heading part End here
    -----------------------------*/




    /*----------------------------
        Section-01 part Start here
    -----------------------------*/


    .section01{
        width: 100%;
        height: 600px;
        background-color: #f9f9ff;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .intro .intro-img{
        width: 50%;
    }

    .intro{
        margin-left: 230px;
        margin-bottom: 120px;
    }

    .intro-img{
        margin-right: 160px;
    }

    .intro-img img{
        max-width: 100%;
        height: auto;
        border-radius: 20%;
    }

    .intro h2, h3{
        font-weight: normal;
    }

    .intro h1{
        font-size: 70px;
    }

    .intro p{
        color: rgba(0, 0, 0, 0.7);
    }

    .intro input{
        margin-top: 40px;
        padding: 12px 22px;
        background-color: #8393ff;
        outline: none;
        color: rgb(5, 4, 4);
        border: 1px solid blueviolet;
        border-radius: 20px;
    }

    .intro input:hover{
        box-shadow: 5px 10px 30px rgba(130, 147, 255, 0.5);
        transition: all 0.5s ease-in 0.1s;
        border: 1px solid forestgreen;
    }


    /*----------------------------
        Section-01 part End here
    -----------------------------*/








    /*----------------------------
        Section-02 part Start here
    -----------------------------*/


    .section02{
        width: 100%;
        height: 500px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .section02 div{
        width: 40%;
        margin: 0 auto;
    }

    .section02 img{
        width: 100%;
        height: auto;
    }

    .section02 .intro-img2{
        padding-left: 190px;
    }


    .intro2 h2{
        font-weight: normal;
        color: rgba(0, 0, 0, 0.6);
        font-size: 15px;
    }

    .intro2 h1{
        margin-top: 20px;
        font-weight: bold;
        font-size: 30px;
    }

    .intro2 p{
        margin-top: 20px;
        font-size: 15px;
        color: rgba(0, 0, 0, 0.6);
        width: 80%;
    }

    .intro2 input{
        margin-top: 30px;
        font-size: 20px;
        padding: 12px 15px;
        color: white;
        background-color: #8293ff;
        border: 1px solid blueviolet;
        border-radius: 20px;
    }

    .intro2 input:hover{
        box-shadow: 5px 10px 30px rgba(130, 147, 255, 0.5);
        transition: all 0.5s ease-in 0.1s;
        border: 1px solid forestgreen;
    }


     /*----------------------------
        Section-02 part End here
    -----------------------------*/







     /*----------------------------
        Section-03 part Start here
    -----------------------------*/

.section03{
    width: 100%;
    height: 650px;
    margin: 0 auto;
    text-align: center;
}

.intro3 h1{
    font-size: 45px;
    margin: 20px;
}

.intro3 p{
    width: 650px;
    color: rgba(0, 0, 0, 0.6);
    margin: 0 auto;
}